body {
	background-image:url(../images/red/main_back2.png);
	/* background-size: cover !important; */
	/* background-color: rgba(0,0,0,0.5); */

}
h2 {
	color:#CFB53B;
}
h2:after {
	background: url(../images/red/bullet.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.bullet {
	background: url(../images/red/bullet.png);
	background-size: contain;
	background-repeat:no-repeat;
}

.btn {
	color:#CFB53B!important;
	border: 2px solid #CFB53B
	
}
	.btn:hover {
		background:#CFB53B;
		color:#fff!important
	}
	.btn:active, .btn:focus {
		background:#CFB53B;
	}
.married_coundown {
	color: #CFB53B;
}

/* 
.owl-pagination {
	background: url(../images/red/arrow_back.png) repeat-x;
	background-size: cover
}
.owl-pagination:before {
	background: url(../images/red/arrow_end.png);
	background-size: cover;
}
.owl-pagination:after {
	background: url(../images/red/arrow_start.png);
	background-size: cover;
} */
.owl-page:after {
	background: url(../images/red/bullet.png);
	background-size: cover
}
.owl-page.active:after {
	background: url(../images/red/bullet_active.png);
	background-size: cover
}

.story_title, .story_title i {
	color: #CFB53B;
}

.when_where .over{
	background:rgba(89,89,89,0.83);
}
.footer .over {
	background:rgba(89,89,89,0.43);
}
.paper {
	background:url(../images/red/paper.jpg);
}
.envelope_back {
	background:url(../images/red/env_back.jpg);
}
.env_top {
	background: url(../images/red/env_top.png);
}
.env_top_top {
	background: url(../images/red/env_top_top.png);
}
.envelope_front {
	background:url(../images/red/envelope_front.png);
}
.paper .paper_title {
	color: #CFB53B;
}